%div{ "ng-app" => "twitter" }
  %div{ "ng-controller" => "SessionCtrl as session" }
    = render :partial => "shared/error"
    %button{ :id => "logout-btn", :class => "btn btn-default",
              "ng-click" => "session.logout()" }
      Log out
    %ui-view
