#tweet-form {
  margin: 10px;

  textarea {
    height: 100px;
    resize: none;
    margin-bottom: 10px;
  }
}

.modal-header {
  border-bottom: 0px;
  padding-bottom: 0px;

  h5 {
    text-align: center;
  }
}
