- if flash[:errors]
  %div{ :class => "alert alert-warning animated fadeInUp" }
    = flash[:errors].join(".<br>").html_safe
- elsif flash[:notice]
  %div{ :class => "alert alert-success animated fadeInUp" }
    = flash[:notice].join(".<br>").html_safe
